body{
    background-color: rgb(234, 244, 255);
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100vw;
}
.headerPrincipal .container{
    background-color: white;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
    border-color: aliceblue;
 
}

.headerPrincipal-titulo{
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    font-weight: bold;
    font-size: 3vw;
    width: 40vw;
    margin-left: 4rem;

}

.headerPrincipal-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: flex-end;
    justify-items: center;
    margin-right: 0rem;
    width: 60vw;
    margin-right: 4rem;
}

.headerPrincipal-nav-link{
    color: grey;
    font-size: 1.5vw;
    padding: 0.8vw;
    border: grey solid;
    margin: 0.5vw;
    border-radius: 1vw;
    background-color: white;
    transition: .5s;
}

.headerPrincipal-nav-link:hover{
    color: white;
    background-color: grey;
}

a{
    text-decoration: none;
    color: inherit;

}

.contenidoPrincipal .container{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-left: 4rem;
}

.subtitulo{
    font-weight: bold;
    font-size: 3vw;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.contenidoPrincipal-cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

}


.contenidoPrincipal-cursos-link {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 10vw;
    margin: 1vw;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    box-shadow: 0.25vw 0.25vw 0.25vw grey;
    
}

.contenidoPrincipal-cursos-link:hover {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 10vw;
    margin: 1vw;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(224, 217, 217);
    box-shadow: 0.1vw 0.1vw 0.1vw grey;
    
}

.contenidoPrincipal-cursos-link a:before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    

}




.contenidoPrincipal-cursos-link:nth-child(even) a:before{
    background: url(../img/background1.svg) no-repeat;
    

}

.contenidoPrincipal-cursos-link:nth-child(odd) a:before{
    background: url(../img/background2.svg) no-repeat;
    

}

.videoSobre{
    display: flex;
    flex-direction: column;
    background-color: rgb(94,158,220);
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;

}

.videoSobre .container{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    align-content: space-between;
    flex-wrap: wrap;
}

.videoSobre-video{
    width: 48vw;
    margin-right: 1vw;
}

.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    width: 35vw;
    align-items: center;
}

.videoSobre-sobre-title {
    color: white;
    margin-bottom: 1vw;
    font-size: 2.5vw;
    font-weight: bold;
}

.videoSobre-sobre-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    margin-top: 2vw;
    color: white;
    align-items: center;
    font-size: 2vw;
    
}

.videoSobre-button{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 14vw;
    padding-right: 14vw;
    border-radius: 0.5vw;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(236, 109, 90);
}